<h1>mostrar producto</h1>
<div class="container">
	<div class="col-ms-12">
		<h2><%= @product.name %></h2>
		<p><%= @product.description %></p>
		<a href="<%= @product.url %>">¡obtenlo!</a>
	</div>
</div>